<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DziennikLekcyjny.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DziennikLekcyjny.Properties.Settings>
            <setting name="AdresSerwera" serializeAs="String">
                <value>mysql.proste.pl</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="Uzytkownik" serializeAs="String">
                <value>kamilpomyk_baza</value>
            </setting>
            <setting name="NazwaBazy" serializeAs="String">
                <value>kamilpomyk_baza</value>
            </setting>
        </DziennikLekcyjny.Properties.Settings>
    </userSettings>
</configuration>